.fab {
    font-size: 3rem;
    
}
.items {
    aspect-ratio: 1/1;
}
.hide > i {
    display: none !important; 

}
.disabled{
    pointer-events: none;

}
body{
    background-color: #4682B4;
}
.big{
    scale: 1.3;
}